body{
   font-family:  'Rubik', sans-serif;
}
.f71{
    color: #717171;
}
section.space--xxs,
footer.space--xxs {
    padding-top: 0.85714286em;
    padding-bottom: 0.85714286em;
}

section.space--xss,
footer.space--xss {
    padding-top: 2em;
    padding-bottom: 2em;
}

section.space--xs,
footer.space--xs {
    padding-top: 3.71428571em;
    padding-bottom: 3.71428571em;
}

section.space--sm,
footer.space--sm {
    padding-top: 4.95238095em;
    padding-bottom: 4.95238095em;
}

section.space--md,
footer.space--md {
    padding-top: 11.14285714em;
    padding-bottom: 11.14285714em;
}

section.space--lg,
footer.space--lg {
    padding-top: 14.85714286em;
    padding-bottom: 14.85714286em;
}

section.space--xlg,
footer.space--xlg {
    padding-top: 29.71428571em;
    padding-bottom: 29.71428571em;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #e02a2e;
}

.o-kiri {
    position: absolute;
    left: 0rem;
    z-index: 0;
    height: 25px;
    width: auto;
    margin-top: -25px;
}

.btn-pd {
    background: #fff;
    color: #000000;
    font-size: 18px;
    padding: 15px 40px;
    border-radius: 0;
    border: 2px solid #afafaf;
    font-weight: 400 !important;
    width: 100%;
}

.btn-white {
    background: #fff;
    color: #e02a2e;
    font-size: 18px;
    padding: 15px 40px;
    border-radius: 0;
    border: 1px solid transparent;
    font-weight: 400 !important;
}

.btn-white:hover {
    background: #fff;
    color: #e02a2e;
}

.btn-red {
    background: #e02a2e;
    color: white;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 0;
    border: 1px solid transparent;
    font-weight: 400 !important;
}

.btn-red:hover {
    background: #e02a2e;
    color: white;
}

.btn-o-black {
    background: #fff;
    color: #000;
    font-size: 18px;
    padding: 15px 40px;
    border-radius: 0;
    border: 1px solid #000;
    font-weight: 400 !important;
}

.btn-o-black:hover {
    background: #fff;
    color: #000;
}

.btn-o-white {
    background: rgba(255, 255, 255, 0);
    color: #fff;
    font-size: 18px;
    padding: 15px 40px;
    border-radius: 0;
    border: 1px solid #fff;
    font-weight: 400 !important;
}

.btn-o-white:hover {
    background: rgba(255, 255, 255, 0);
    color: #fff;
}

.custom-p {
    font-size: 16px;
}

.custom-popular {
    font-size: 24px;
    line-height: 2rem;
}

.bb-grey {
    border-bottom: 1px solid #a9a9a9;
}

.text-news {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 500;
    text-overflow: ellipsis;
}

.text-news-nd {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: unset;
}

.bg--home {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 750px;
}

.bg--blog {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 350px;
}

.bg--article {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
}

.bg--prc {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
}

.ttr-reversr {
    text-align: right;
}

.p-25 {
    padding: 2.5rem !important;
}

.padding-kontak {
    padding: 10px 15px;
}

.footer-social-info a {
    display: inline-block;
    width: 34px;
    height: 34px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    line-height: 34px;
    background-color: white;
}

.blog-fb {
    color: #3e5b94 !important;
}

.blog-instagram {
    color: purple !important;
}

.blog-twitter {
    color: #3b7cff !important;
}

.blog-youtube {
    color: red !important;
}

.color-black {
    color: black !important;
}

.color-grey {
    color: #575775;
}

.bg-footer {
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-ee {
    background-color: #eee;
}

.bg--dark {
    background: #e0e0e0;
}

.bg-ec {
    background-color: #ececec !important;
}

.bg-dc {
    background-color: #dcdcdc 57 !important;
}

.bgc-green {
    background: #23ad60 !important;
}

.bgc-red {
    background: #961c7c !important;
}

.bgc-orange {
    background: #de4d2c !important;
}

.bgc-blue {
    background: #3b7cff !important;
}

.bgc-bold-blue {
    background: #153d85 !important;
}

.p-0-lg {
    padding: 0px;
}

.resmi-content {
    padding-bottom: 20px;
}

.input-search {
    border: 0px !important;
    background-color: #f6f6f6 !important;
}

.dropdown {
    margin-right: 0px !important;
    padding: 10px 15px;
}

.dropdown>.dropdown__trigger>.black-arrow:after {
    font-family: "stack-interface";
    display: inline-block;
    font-size: 8px;
    position: relative;
    bottom: 2px;
    color: black;
}

li.dropdown.dropdown--active {
    background-color: white;
}

li.dropdown.dropdown--active span {
    color: #232323 !important;
    font-weight: bold !important;
}

.border-right {
    border-right: 1px solid #eee;
    padding-right: 10px;
    margin-right: 10px;
}

.br-5 {
    border-radius: 5px;
}

.br-fa {
    border: 1px solid #dddddd;
}

.bg-nomor {
    background-image: url(../img/bgfooter.png);
    background-repeat: none;
    background-position: top;
    background-size: cover;
    position: relative;
    top: 2px;
}

.desktop-nav {
    display: block;
}

.mobile-nav {
    display: none;
}

.dropdown-container-2 {
    width: 100vw;
    background-color: white;
    left: -125% !important;
    top: 50px;
    padding-bottom: 50px;
}

.dropdown-container-2 .dropdown__content {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.0);
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.0);
    background-color: white !important;
    padding: 0px;
    left: 0px !important;
}

.bg-nav {
    background-image: url(../img/nav.png);
}

.img-menu {
    height: 125px;
    width: auto;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 5px !important;
    background-position: center !important;
}

.img-innernews {
    height: 350px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.img-product {
    z-index: 99;
    width: 100%;
    position: relative;
    height: 175px;
    top: 5rem;
    object-fit: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center;
}

.img-announce {
    max-height: 85px;
    background-position: center;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.p-anounce {
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    margin-left: 15px;
}

.img-odp {
    height: 55px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-ask {
    height: 35px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-abjad {
    height: 25px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-xs {
    height: 15px;
    width: auto;
}

.news-wrapper {
    padding: 0px 7.5px;
}

.news-card {
    background: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    border-radius: 5px;
    min-height: 500px;
    padding: 50px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.gradient-line-green::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 7.5px;
    right: 0;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    z-index: 1;
    background: #23ad60;
}

.gradient-line-yellow::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 7.5px;
    right: 0px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    z-index: 1;
    background: #f9c420;
}

.gradient-line-blue::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 7.5px;
    right: 0px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    z-index: 1;
    background: #3b7cff;
}

.margin-testimonial {
    margin: 0px;
}

.nav-screen {
    align-items: center;
    justify-content: flex-end;
    display: flex !important;
}

.situs {
    display: block;
}

.resmi {
    display: block;
}

.situs-revres {
    display: none;
}

.f-500 {
    font-weight: 500;
}

.p-col {
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.bg-pr {
    opacity: 1;
    position: relative;
    bottom: -5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: right;
    color: #fff;
    padding: 5px 10px;
    background: #ffeba7;
}

.img-productnew {
    z-index: 99;
    width: 100%;
    position: relative;
    height: 250px;
    top: 10rem;
    object-fit: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center;
}

.bg-prnew {
    opacity: 1;
    position: relative;
    top: 10rem;
    height: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: right;
    color: #fff;
    padding: 5px 10px;
    background: #ffeba7;
}

.label-news {
    opacity: 1;
    position: relative;
    bottom: 0rem;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: right;
    color: #fff;
    padding: 5px 10px;
}

.text-uppercase {
    letter-spacing: 1px;
}

.box-shadow-0 {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05) !important;
}

.box-shadow {
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.section-up {
    position: relative;
    top: -35px;
}

.collapsible {
    background-color: rgb(255, 255, 255);
    border: 1px solid #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:hover {
    background-color: #eee;
}

.active {
    background-color: rgba(238, 238, 238, 0);
}

.dropdown {
    display: inline-block;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
}

section .slider1 .slides>.flickity-page-dots>.dot {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000;
    border: none;
    margin: 0 0.46428571em;
}

.menu-horizontal>.dropdown>.dropdown__trigger>.black-arrow:after {
    content: '\e80a';
    margin-left: 4px;
    color: black !important;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

.badge-primary {
    color: #4a90e2;
    background-color: #fff;
    border: 1px solid #4a90e2;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge-pill {
    padding: 7.5px 25px 7.5px 25px;
    border-radius: 10rem;
}

.hide_img3 {
    display: none;
    background: #fff f;
    width: 45%;
}

.myClass {
    background-color: #eee;
    border-radius: 5px;
    padding: 7.5px;
}

.myClass:hover .hide_img3 {
    display: block;
    background: #fff f;
    width: 95%;
    top: 35px;
    left: 15px;
    z-index: 99;
    position: absolute;
    border-radius: 0px 0px 5px 5px;
}

.vl {
    border-left: 2.5px solid #e02a2e;
    height: 85px;
}

.vl-grey {
    border-left: 2px solid #9e9e9e;
    min-height: 25px;
}

.vl-white {
    border-left: 2px solid #fff;
    min-height: 12em;
}

.vl-grey-md {
    border-left: 2px solid #9e9e9e;
    min-height: 55px;
}

.bg-a {
    background: #d1e6f6;
    border-radius: 2px;
    overflow: hidden;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 350px;
    text-align: center;
    height: 50%;
    z-index: -2;
    background-color: pink;
}

.img-news {
    width: auto;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 0px;
    min-height: 275px;
}

.img-newsdetail {
    width: auto;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 0px;
    min-height: 350px;
}

.image {
    background-color: #490d40;
    background: url(https://sonorangirl.github.io/Earth-Quotes/img/google-earth-view-South-Iceland3.jpg) no-repeat center center;
    background-size: cover;
    height: 570px;
    margin-top: -20px;
}

.image .heading {
    color: white;
    text-align: center;
    padding-top: 200px;
}

.image p {
    text-align: center;
    padding: 20px 60px;
}

.image p .btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 1.2em;
}

.image p .btn:hover {
    color: #c57ed3;
    border-color: #c57ed3;
}

.navbar {
    /* height: 80px; */
    background-color: transparent;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
}

.navbar-default .navbar-brand {
    margin-top: 10px;
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #c57ed3;
    border: 1px solid #c57ed3;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    margin: 10px 5px 5px 5px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #c57ed3;
    border: 1px solid #c57ed3;
}

.navbar-default .navbar-nav>li>a:active {
    color: #c57ed3;
    border: 1px solid #c57ed3;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #c57ed3;
    border: 1px solid #c57ed3;
}

.navbar-default .navbar-nav>li>a:visited {
    color: #c57ed3;
    text-decoration: none;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    color: #c57ed3;
}

.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #c57ed3;
}

.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: #c57ed3;
}

.navbar-default .navbar-toggle {
    border-color: #c57ed3;
}

.navbar-default .navbar-toggle:hover {
    background-color: #490d40;
}

.navbar-default .navbar-toggle:focus {
    background-color: #490d40;
}

.navbar-default .navbar-toggle .icon-bar {
    color: #c57ed3;
    background-color: #c57ed3;
}

.navbar-default .navbar-collapse.collapse.in ul {
    background-color: #490d40;
}

.navbar.solid {
    /* background-color: #490d40; */
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}

.navbar.solid .navbar-brand {
    color: #c57ed3;
    transition: color 1s ease 0s;
}

.navbar.solid .navbar-nav>li>a {
    color: #c57ed3;
    transition: color 1s ease 0s;
}

.about {
    background-color: #c57ed3;
    color: #490d40;
    height: 600px;
    text-align: center;
    margin-top: -20px;
}

.about h2 {
    padding-top: 220px;
}

.about p {
    padding: 20px 80px;
}

.main-wrapper-first {
    width: 68.75%;
    margin: 0 auto;
}

.hero-area {
    background: url(../image/banner2.png) no-repeat center/contain;
    background-size: cover;
}

.relative {
    position: relative;
}

.header-wrap {
    position: relative;
}

.main-menubar {
    position: relative;
}

nav.hide {
    transform: scale(0);
}

.menu-bar {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent !important;
}

.menu-bar span {
    color: #222;
    font-size: 24px;
}

.text-menu {
    display: block;
}

.text-menu.hide {
    display: none;
}

.about-right .lnr {
    color: #a387ff;
    font-size: 30px;
}

.lnr-menu:before {
    height: 20px;
    width: auto;
    content: url(../image/hb.png);
    position: relative;
    z-index: 100000;
    left: 0;
    top: 10%;
    margin: 0 20px;
}

.lnr-cross:before {
    height: 20px;
    width: auto;
    content: url(../image/xhb.png);
    position: relative;
    z-index: 100000;
    left: 0;
    top: 10%;
    margin: 0 20px;
}

.img-nav {
    height: 45px;
    object-fit: contain;
    width: auto;
}

.solid {
    background-color: #ffffff;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px #d8d8d8;
}

.bg {
    min-height: 70vh;
    background-image: url('https://visualhunt.com/photos/xl/7/wood-cottage-wood-house-cabine.jpg');
    background-size: cover;
    background-position: center;
}

.sticky-top {
    transition: all 0.25s ease-in;
}

.stuck .sticky-top {
    background-color: #222 !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

@media (max-width: 2560px) {
    .dropdown-container-2 {
        left: -795% !important;
    }
}

@media (max-width: 1920px) {
    .dropdown-container-2 {
        left: -1105% !important;
    }
}

@media (max-width: 1440px) {
    .dropdown-container-2 {
        left: -375% !important;
    }
}

@media (max-width: 1366px) {
    .dropdown-container-2 {
        left: -325% !important;
    }
}

@media (max-width: 1281px) {
    .dropdown-container-2 {
        left: -267% !important;
    }
}

@media (max-width: 1024px) {
    .dropdown-container-2 {
        left: -140% !important;
    }
}

@media (max-width: 800px) {
    .bg--prc {
        background-size: auto !important;
        background-position: right !important;
    }
    .dropdown-container-2 {
        width: auto;
        top: auto;
        left: auto !important;
    }
}

@media all and (min-width: 768px) {
    .mb--1 {
        margin-bottom: 1.85714286em;
    }
}
@media (max-width: 768px) {
    
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    .img-productnew {
        height: 200px;
        top: 7rem;
    }
    .bg-prnew {
        height: 250px;
    }
    .dropdown-container-2 {
        width: auto;
        top: auto;
        left: auto !important;
    }
    .resmi {
        display: none !important;
    }
    .img-odp {
        height: auto !important;
    }
    .nav-screen {
        align-items: center;
        justify-content: space-between !important;
        display: flex !important;
    }
    nav.hide {
        display: none !important;
    }
    .project-thumb.hover-element .hover-element__reveal .project-thumb__title {
        padding: 5em 0em 0em 2em;
    }
    .gradient-line-blue::before {
        border-radius: 0px !important;
    }
    .gradient-line-green::before {
        border-radius: 0px !important;
    }
    .gradient-line-yellow::before {
        border-radius: 0px !important;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .bg--home {
        height: 500px;
    }
    .bg--blog {
        height: 100px;
    }
    .flickity-prev-next-button.previous {
        left: -5em;
    }
    .flickity-prev-next-button.next {
        right: -5em;
    }
}

@media (max-width: 767px) {
    .show-hide {
        display: hide;
    }
    .nav-new {
        padding: 0.5rem 1rem !important;
    }
    .custom-popular {
        font-size: 16px;
    }
    .back-to-bottom {
        left: 45%;
        right: 45%;
    }
    .mt-1-sm {
        margin-top: 10px;
    }
    #menu1 {
        padding-top: 10px;
        display: block !important;
    }
    .situs-revres {
        display: block !important;
    }
    .dropdown {
        padding: 0px;
    }
    .padding-kontak {
        padding: 10px 10px;
    }
    .menu-horizontal:last-child {
        padding-top: 20px;
    }
    .menu-horizontal>li>a {
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        color: #252525;
    }
    .menu-horizontal>li>a:hover {
        color: #252525;
    }
    .menu-horizontal>li>span {
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        color: #252525;
    }
    .menu-horizontal>li>span:hover {
        color: #252525;
    }
    .menu-horizontal>li>.modal-instance>.modal-trigger {
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        color: #252525;
    }
    .menu-horizontal>li>.modal-instance>.modal-trigger:hover {
        color: #252525;
    }
    .bar.bar--sm {
        padding: 0px 0;
    }
    .badge {
        font-size: 12px !important;
    }
    .myClass:hover .hide_img3 {
        top: 65px !important;
    }
    .img-odp {
        height: auto !important;
    }
    .br-5 {
        border-radius: 0px !important;
    }
    .section-up {
        top: 0px !important;
    }
    .p-0-sm {
        padding: 0px !important;
    }
    .pt-0-sm {
        padding-top: 0px !important;
    }
    .p-0-lg {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .slider[data-paging="true"]:not(section) .flickity-page-dots {
        bottom: 4em;
    }
    .slider .border--round {
        border-radius: 0px !important;
    }
    .project-thumb.border--round .background-image-holder {
        border-radius: 0px !important;
    }
    .border--round [data-scrim-top]:before {
        border-radius: 0px !important;
    }
    .border--round [data-scrim-bottom]:before {
        border-radius: 0px !important;
    }
    .border--round [data-overlay]:before {
        border-radius: 0px !important;
    }
    .news-card {
        border-radius: 0px !important;
        padding: 50px 15px 45px 15px !important;
        min-height: auto !important;
    }
    .news-card .col-12 {
        padding: 0px;
    }
    .news-wrapper {
        padding: 0px !important;
    }
    .p-col {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .situs {
        display: none !important;
    }
    .tr-revers {
        text-align: left;
    }
    .bg-nav {
        background-image: none !important;
    }
    .main-wrapper-first {
        margin-top: 3rem;
        width: 97%;
    }
    .header-top {
        padding: 5px 0;
    }
}

@media (max-width: 801px) {
    .bg-nav {
        background-image: none !important;
    }
    #menu1 {
        display: none;
    }
}

@media (min-width: 1200px) {
    .main-wrapper-first {
        width: 75%;
    }
}

@media (max-width: 1199px) {
    .main-wrapper-first {
        width: 90%;
    }
}

.nav-new.toggled {
    background-color: #fff;
}

.nav-new {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 0.5rem;
    z-index: 1001;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: fixed;
}

.text-nav {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    margin: 1.5rem;
    color: black;
}

.back-to-top {
    position: fixed;
    width: 3.71428571em;
    height: 3.71428571em;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    right: 1.85714286em;
    bottom: 0.71428571em;
    padding-top: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
    z-index: 99;
    border: 1px solid #ececec;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
}

.back-to-bottom {
    position: relative;
    width: 4.714286em;
    height: 4.714286em;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    left: 50%;
    right: 50%;
    bottom: -20px;
    padding: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
    z-index: 99;
    border: 1px solid #ececec;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
}

.back-to-top i {
    color: #252525;
}

.back-to-top:not(.active) {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
    pointer-events: none;
}

.back-to-top.active:hover {
    transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
}

.pt-6 {
    padding-top: 6rem;
}

.tab {
    overflow: hidden;
    border: 1px solid #fff;
    background-color: #ffffff;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 0px;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 25px;
    letter-spacing: 1px;
    opacity: 0.5;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: rgb(255, 255, 255);
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #fff;
    font-weight: 600;
    text-decoration: underline;
    opacity: 1;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 15px 0px;
    border: 1px solid rgb(255, 255, 255);
    border-top: none;
}

ul.breadcrumb {
    padding: 10px 0px;
    list-style: none;
    background-color: rgb(255, 255, 255);
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

@media all and (max-width: 767px) {
    .btn-pd {
        font-size: 14px;
        padding: 12px 40px;
    }
    h1,
    .h1 {
        font-size: 2.35714286em;
        line-height: 1.36363636em;
    }
    h2,
    .h2 {
        font-size: 1.78571429em;
        line-height:1.3em;
    }
    h3,
    .h3 {
        font-size: 1.35714286em;
        line-height: 1.2em;
    }
    .lead {
        font-size: 1.2em;
        line-height: 1.36842105em;
    }
    .btn-o-white {
        font-size: 14px;
        padding: 10px 40px;
    }
}

.dropbtn {
    background-color: #ffffff;
    color: black;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid rgb(209, 209, 209);
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
    /* padding: 15px; */
}

.ny {
    color: #de4d2c;
    letter-spacing: 0;
    text-decoration: underline;
}

.pe {
    color: #4ab71a;
    letter-spacing: 0;
    text-decoration: underline;
}

.op4 {
    opacity: .4
}

.form-control {
    border: 1px solid transparent;
    border-bottom: 1px solid #868686;
    background: transparent;
    border-radius: 0;
}

.formrel {
    top: -5rem;
    position: relative;
}

.bg-fb {
    background: #fbfbfb;
}